@font-face {
    font-family: "ShineDemo";
    src: url("/static/fonts/ShineDemo.otf");
  }
  
  @font-face {
    font-family: "Abel";
    src: url("/static/fonts/Abel-Regular.ttf");
  }
  
  body {
    font-family: "Abel";
    letter-spacing: 0.1em;
  }

  /*HEADER & NAVIGATION*/
  
  header {
    height: 300px;
    position: relative;
  }
  
  .bg-image {
    background-color: transparent;
    background-image: url('/static/imgs/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
  }
  
  .intro-text {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 10%;
    margin: 0 auto;
    color: #fff;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-family: "ShineDemo", "Sail", sans-serif;
    font-weight: 300;
    font-size: 180%;
    text-align: center;
    font-style: italic;
  }
  
  .custom-shape-divider-top-1670413545 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-top-1670413545 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 197px;
  }
  
  .custom-shape-divider-top-1670413545 .shape-fill {
    fill: #ffffff;
  }
  
  .bottom-middle {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
  }
  
  .navbar {
    padding: 0;
  }
  
  .nav-link {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    color: #e3ed52;
  }
  
  .nav-link.active:hover {
    color: #107a7e;
  }
  
  .nav-tabs {
    border-bottom: none;
  }

  .col-link {
    background-color: #107a7e;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .navbar-toggler {
    margin-top: 15px;
    padding: 5px;
  }
  
  
  .logo {
    color: #fff;
    font-size: 40px;
    color: #e3ed52;
  }

  /*CHALLENGE CARD*/

  .challenge-card {
    margin-top: 50px;
  }

  .bg-overlay,
.card-body {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  color: #fff;
}

.challenge-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.challenge-prompt {
  font-weight: 700;
  font-size: 160%;
  font-family: "Abel", sans-serif;
  vertical-align: middle !important;
}

.challenge-btns {
  margin-top: 10px;
}

.badge {
  background-color: #07a07f;
  width: 100px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
  padding-top: 10px;
}



/*MEDIA-QUERIES*/

@media screen and (max-width: 576px) {
  .hidden {
    display: none;
    visibility: hidden;
  }
}