@font-face {
    font-family: "ShineDemo";
    src: url("/static/fonts/ShineDemo.otf");
  }
  
  @font-face {
    font-family: "Abel";
    src: url("/static/fonts/Abel-Regular.ttf");
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Abel";
    letter-spacing: 0.1em;
    height: 100vh;
  }

  .main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  /*HEADER & NAVIGATION*/
  
  header {
    height: 300px;
    position: relative;
  }
  
  .bg-image {
    background-color: transparent;
    background-image: url('/static/imgs/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
  }
  
  .intro-text {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 10%;
    margin: 0 auto;
    color: #fff;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-family: "ShineDemo", "Sail", sans-serif;
    font-weight: 300;
    font-size: 180%;
    text-align: center;
    font-style: italic;
  }
  
  .custom-shape-divider-top-1670413545 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-top-1670413545 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 197px;
  }
  
  .custom-shape-divider-top-1670413545 .shape-fill {
    fill: #ffffff;
  }
  
  .bottom-middle {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
  }

  .user-profile-menu {
    margin-right: 15px;
    margin-top: 10px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 4;
  }
  
  .navbar {
    padding: 0;
  }
  
  .nav-link {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    color: #e3ed52;
  }

  .nav-link:focus, a:focus, .nav-link:hover {
    color: #fff;
  }
  
  .nav-link.active:hover {
    color: #107a7e;
  }
  
  .nav-tabs {
    border-bottom: none;
  }

  .col-link {
    background-color: #107a7e;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .navbar-toggler {
    margin-top: 15px;
    padding: 5px;
  }

  /*INTRO*/

.introduction {
  background-color: #e6e6e6;
  padding: 20px;
  font-weight: 700;
}

.intro { 
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
  }

  .lead {
    color: #107a7e;
    font-weight: 600;
  }

  .past-shortcut {
    color:#023638;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .past-shortcut:hover {
    color: #107a7e;
  }


  /*CHALLENGE CARD*/

  .challenge-card {
    margin-top: 50px;
  }

  .bg-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  color: #fff;
}

.challenge-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.challenge-prompt {
  font-weight: 700;
  font-size: 160%;
  font-family: "Abel", sans-serif;
  vertical-align: middle !important;
}

.challenge-btns {
  margin-top: 10px;
}

.badge {
  background-color: #07a07f;
  width: 100px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

.footer-c {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*POSTS CARD*/

.like i {
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
}

.card-img-top {
  width: 100%;
  height: 225px;
  object-fit: cover;
 }

.challenge-card {
  margin-top: 50px;
  margin-bottom: 30px;
}

/*POST CARD HOVER EFFECT*/

.effect {
  position: relative;
  display: block;
}

.overlay {
cursor: pointer;
position: absolute;
display: inline-block;
width: 100%;
height: 100%;
left:0;
top:0;
background: rgba(24, 24, 24, 0.5);
opacity: 0;
visibility: hidden;
transition: all .4s linear;
}

.effect span i {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: 0;
  background-color: transparent;
  z-index: 100;
  font-size: 35px;
}

.effect:hover .fa-magnifying-glass{
  transition: all .6s linear;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.hover-overlay {
  opacity: 0;
  visibility: hidden;
}

.effect:hover span i {
  opacity: 1;
}

.effect:hover .hover-overlay{
  
  visibility: visible;
  opacity: 1;
}

.card_avatar a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 0.8em;
}

.card_avatar img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.card-text {
  margin: 20px;
}

/*MODAL*/
.modal-body {
  overflow: auto;
}

.modal-header .btn-close {
  margin: 0;
}

.sidebar {
  background-color: #f0f7ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col-md-9.user-art {
  padding-right: 0;
}

.cmt-container {
  overflow-y: scroll;
  max-height: 140px;
  padding-left: 0;
  padding-right: 0;
}

.comment-box h5 {
  margin-left: 3px;
  margin-bottom: 0.2rem;
}

.comment-box p {
  margin-left: 5px;
  margin-bottom: 0.5rem;
}

.comment>div:nth-child(even){
  background-color: #f0f7ea;
  }

.comment>div:nth-child(odd){
    background-color: #fff;
    }

/*COMMENTS*/

textarea {
  height: 100px;
}

.card-body.comment {
  padding: 0px;
}

/*LIKE AND FAVOURITES */
#likeBtn {
  cursor: pointer;
  font-size: 16px;
  transition:.2s;
}

.list-like:hover {
color: rgb(13, 91, 94);
}

.liked {
  color: #ec3939;
}

.unliked {
  color: #aaa;
}

.press {
  animation-name: likeAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  bottom:120px;
  font-size:16px;
  visibility:visible;
 
}

@keyframes likeAnimation {
  0%   { transform: scale(2); color:#f8bbbb; }
  50%  {transition:.6s; color:#fd8b8b;}
  100% { transform: scale(1); color:#ec3939;}
}

.fav {
  color: #f8cb03;
}

.unfav {
  color: rgb(94, 94, 94);
}

/* USER PROFILES */

.post-gallery {
  max-width: 50%;
  margin-top: 20px;
}
.post-wrapper {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.post-info {
  border-top: 2px solid #107a7e;

}

.info-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-nav {
  background-color: rgba(26,27,54, 0.95)
}

.user-gallery {
  margin-top: 50px;
  background-color: rgb(236, 234, 234);
}

.pill-color  .active a{
background-color: #eef773;
color: #023638;
font-weight: 700;
}

.delete-post i {
  color: #023638;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
}

.delete-post i:hover {
  color: #07a07f;
}

.info-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*POST FORM*/

.form-group {
  margin-top: 20px;
  color: #107a7e;
}

.post-btn {
  background-color: #107a7e;
  color: #dadddd;
  margin-top: 20px;
}

.post-btn:hover {
  background-color: #07a07f;
  color: #dadddd;
}

.post-update {
  width: 70%;
}

/*ACCOUNT FORMS*/

.login p, .signup p {
  color: #107a7e;
  font-weight: 600;
}

/*FOOTER*/

.footer {
  width: 100%;
  flex: 0;
  background-color: rgb(26,27,54);
  color: #dadddd;
}

.f-info {
  font-size: 15px;
}

.insta-link {
  font-size: 40px;
}

.insta-link a {
  color: #dadddd;
}

.footer-hr {
  margin: 0.5px;
}



/*MEDIA-QUERIES*/

@media screen and (max-width: 576px) {
  .hidden {
    display: none;
    visibility: hidden;
  }

  .intro-text {
    top: 40%
  }

  .intro-text h1 {
    font-size: 120%;
  }

  .dropdown > .dropdown-toggle {
    color: #fff;
  }

  .user-profile-menu {
    top: 80%!important;
  }

  .bg-overlay {
    height: 80px;
  }

  .stack-sm-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .challenge-info {
    margin-top: 50px;
    background-color: rgba(24, 24, 24, 0.3);
    border-radius: 5px;
  }

  .challenge-title {
    display: none;
    visibility: hidden;
  }

  .challenge-prompt {
    font-size: 100%;
  }

  .badge {
    margin-top: 5px;
  }
}

.sidebar {
  font-size: 13px;
}

@media screen and (max-width: 360px) {
  .intro-text {
    top: 50%;
    left: 5%;
    padding: 0;
  }

  .introduction {
    font-size: 80%;
  }


  .challenge-info {
    margin-top: 70px;
  }

  .challenge-card {
    padding: 0;
 
  }

}

@media screen and (max-width: 314px) {
  .challenge-btns > .btn {
    padding: 0.2rem;
    margin-left: 3px;
  }

}

@media screen and (max-width: 290px) {
  .challenge-btns > .btn {
    padding: 0.2rem;
    margin-left: 3px;
  }

  .intro-text h1 {
    font-size: 100%;
  }

}