{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- PROFILE NAV -->
<div class="d-flex flex-row flex-shrink-0 p-3 text-white user-nav">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 card-avatar align-middle">
            {% if "default.png" in p_user.profile.image.url %} 
                <img src="{% static '/imgs/default.png' %}" alt="" srcset="">
            {% elif p_user.profile.image %}
                <img src="{{ p_user.profile.image.url }}" alt="" srcset="">
            {% endif %}
            {{ p_user.username }}'s Profile
        </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-row mb-auto pill-color">
        {% if '/users/' in request.path %}
            <li class="active">
                <a href="{% url 'user_profile' p.slug %}" class="nav-link ">
                    Post Gallery
                </a>
            </li>
            <li>
                <a href="{% url 'favourite_list' p.slug %}" class="nav-link ">
                    Favourites Gallery
                </a>
            </li>
        {% elif '/my-profile/' in request.path %}
            <li class="active">
                <a href="{% url 'my_profile' %}" class="nav-link  ">
                    Post Gallery
                </a>
            </li>
            <li>
                <a href="{% url 'my_favourites' %}" class="nav-link ">
                    Favourites Gallery
                </a>
            </li>
        {% endif %}
    </ul>
    <hr>
</div>


<div class="container mt-4">
    <div class="row">
        <div class="card-avatar col-1">
            <img src="{{ p_user.profile.image.url }}" alt="" srcset="">
            <p>{{ p_user.username }}</p>
        </div>
        <div class="col-3">
            <p>Submissions: {{ post_count }}</p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="post-gallery">
        {% for post in user_posts %}
        <div class="post-wrapper mb-3 text-center">
            <img class="img-fluid artwork" src="{{ post.image_post.url }}" class="card-img-top post-detail" alt="">
            <div class="card-footer post-info">
                <div class="info-text">
                    <p>Challenge: {{ post.challenge.challenge_prompt }}</p>
                    <span>Likes: {{ post.likes.count }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{%endblock%}