{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- PROFILE NAV -->
<div class="d-flex flex-row flex-shrink-0 p-3 text-white user-nav">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 card-avatar align-middle">
            {% if p_user.profile.image %}
                <img src="{{ p_user.profile.image.url }}" alt="" srcset="">
            {% endif %}
            {{ p_user.username }}'s Profile
        </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-row mb-auto pill-color">
        {% if '/users/' in request.path %}
            <li class="active">
                <a href="{% url 'user_profile' p.slug %}" class="nav-link ">
                    Post Gallery
                </a>
            </li>
            <li>
                <a href="{% url 'favourite_list' p.slug %}" class="nav-link ">
                    Favourites Gallery
                </a>
            </li>
        {% elif '/my-profile/' in request.path %}
            <li class="active">
                <a href="{% url 'my_profile' %}" class="nav-link  ">
                    Post Gallery
                </a>
            </li>
            <li>
                <a href="{% url 'my_favourites' %}" class="nav-link ">
                    Favourites Gallery
                </a>
            </li>
        {% endif %}
    </ul>
    <hr>
</div>


<div class="mt-4">
    <h5 class="text-center">Challenge submissions: {{ post_count }}</h5>
  </div>

<!--USER POSTS GALLERY-->
<div class="container-fluid d-flex justify-content-center user-gallery">
    <div class="post-gallery">
        {% for post in user_posts %}
        <div class="post-wrapper mb-3 text-center">
            <img class="img-fluid" src="{{ post.image_post.url }}" class="card-img-top post-detail" alt="">
            <div class="card-footer post-info">
                <div class="info-text">
                    <p><strong>Challenge:</strong> {{ post.challenge.challenge_prompt }}</p>
                    <p><strong>Likes:</strong> {{ post.likes.count }}</p>
                </div>
                <div class="delete-post">
                    {% if user.is_authenticated and post.author == request.user%}
                    <a href="#deletePost{{ post.pk }}" data-bs-toggle="modal"><i class="fa-solid fa-trash-can"></i></a>
                    {%endif%}
                </div>
            </div>
        </div>
        <!--DELETE POST MODAL-->
        <div class="modal fade" id="deletePost{{ post.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content mx-3">
                    <div class="modal-header">
                        <h3 class="modal-title" id="staticBackdropLabel">Are you sure?</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="muted-text">
                            This will remove your post permanetly.
                        </p>
                    </div>
                    <div class="modal-footer mt-1">
                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger mx-auto mt-2">Delete Post</a>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
    </div>
</div>
{%endblock%}