{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="card-avatar col-1">
            <img src="{{ p_user.profile.image.url }}" alt="" srcset="">
            <p>{{ p_user.username }}</p>
        </div>
        <div class="col-3">
            <p>Submissions: {{ post_count }}</p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="post-gallery">
        {% for post in user_posts %}
        <div class="post-wrapper mb-3 text-center">
            <img class="img-fluid artwork" src="{{ post.image_post.url }}" class="card-img-top post-detail" alt="">
            <div class="card-footer post-info">
                <div class="info-text">
                    <p>Challenge: {{ post.challenge.challenge_prompt }}</p>
                    <span>Likes: {{ post.likes.count }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{%endblock%}