{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--META DATA-->
  <meta name="description" content="Art community, providing fun drawing challenges for artists of all kind.">
  <meta name="keywords" content="creativespark, drawing challenge, drawing prompts, art, art community, drawing, drawing inspiration">
  <!--BOOTSTRAP/FONTAWESOME-->
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0a6fdb57b6.js" crossorigin="anonymous"></script>
  
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>CreativeSpark</title>
</head>

<body>
    <!--NAVIGATION-->
    <header>
      <div class="bg-image"></div>
      <!--LOGGED IN USER NAV-->
      {% if user.is_authenticated %}
        <div class="dropdown user-profile-menu card_avatar position-absolute top-0 end-0">
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#"><img
              src="{{ request.user.profile.image.url }}" alt="User profile picture"></a>
          <ul class="dropdown-menu">
            <li>
              <h6 class="dropdown-header text-center">{{ request.user.username }}</h6>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'my_profile' %}">Your posts</a></li>
            <li><a class="dropdown-item" href="{% url 'my_favourites' %}">Favourites</a></li>
          </ul>
        </div>
      {% endif %}

      <div class="intro-text">
        <h1>CreativeSpark<i class="fa-solid fa-palette"></i></h1>
      </div>
  
      <div class="custom-shape-divider-top-1670413545">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
            class="shape-fill"></path>
        </svg>

      </div>
      <nav class="navbar navbar-expand-sm bottom-middle d-flex justify-content-center">
        <ul class="nav nav-tabs nav-fill hidden">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
              Browse Art
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'past_challenges' %}">Past Challenges</a></li>
              <li><a class="dropdown-item" href="{% url 'home' %}">Challenges</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <!--Collapsed Navbar-->
    <nav class="navbar col_nav fixed-top">
      <div class="container d-sm-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>

        <div class="collapse navbar-collapse flex-column" id="navbarText">
          <ul class="nav text-center">
              <li class="dropdown-item">
                <a class="nav-link col-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-item">
                <a class="nav-link col-link" href="{% url 'past_challenges' %}">Past Challenges</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-item">
                {% if user.is_authenticated %}
                <a class="nav-link col-link" href="{% url 'account_logout' %}">Sign out</a>
                {% else %}
                <a class="nav-link col-link" href="{% url 'account_login' %}">Sign in</a>
                <a class="nav-link col-link" href="{% url 'account_signup' %}">Sign up</a>
                {% endif %}
              </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                      {{ message | safe }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      </button>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>

    <!--MAIN CONTENT-->
    <main class="main-content">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!--FOOTER-->
  <footer class="footer ">
      <div class="container d-flex flex-column justify-content-center">
        <div class="insta-link align-self-center mt-3">
          <a href="https://instagram.com" target="_blank" rel="noopener"
          aria-label="Visit our Instagram page(opens in a new tab!)">
          <i class="fa-brands fa-instagram"></i>
          </a>
          </div>
          <hr class="footer-hr">
          <div class="f-info text-center">
            <p>2023 <br> <i>Project created for educational purposes only.</i></p>
          </div>
        </div>
  </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% block js %}


<!--JS/JQUERY/AJAX-->

{% endblock js %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>