{% load crispy_forms_tags %}
<!--COMMENT FORM-->
<div class="cmt-section">
    {% if user.is_authenticated %}
<form class="comment_form" action="{% url 'post_detail' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.pk }}">
    {{ form | crispy }}
    <button value="{{post.pk}}" class="cmt-btn" data-url="{% url 'post_detail' %}" type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{%else%}
<p><a class="past-shortcut" href="{% url 'account_signup' %}">Signup</a> or <a class="past-shortcut" href="{% url 'account_login' %}">Login</a> to leave a comment</p>
{%endif%}

</div>