{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<!--INTRODUCTION-->
<div class="row d-flex justify-content-center introduction">
  <div class="col-xl-8 col-sm-12 intro">
    <p class="lead text-center">Welcome to CreativeSpark! <br> 
      A place for artists of all skill levels to get inspiration and hone their drawing skills!</p>

      <p class="text-center">We provide a new drawing challenge everyday, which will be open for submissions for 48hours.<br>  
        Join the community to participate in drawing challenges, get inspired by other artists and improve while having fun!</p>
  </div>
  <hr>
  <div>
    <p class="text-muted text-center">Check out our active challenges below or <a class="past-shortcut" href="{% url 'past_challenges' %}">click here</a> to browse through previous challenges!</p>
  </div>  
</div>

<!--Daily Challenges-->
<div class="container-xl challenge-card">
    {% for challenge in challenge_list %}
    {% if challenge.is_active %}
      <div class="card challenge-card">
             
        <div class="challenge-img" style="background-image:url('{{ challenge.featured_image.url }}');">


          <div class="card-body bg-overlay d-flex flex-column">

            <div class="row">
              <div class="col-12">
            {% if today|date:"Y m d" == challenge.date_created|date:"Y m d" %}
              <span class="badge rounded-pill"><small>Daily Challenge</small></span>
              <span class="badge rounded-pill"><small>NEW! {{ today|date:"j/n" }}</small></span>
              <span class="col-sm-12">{{ challenge.date_created|timesince }}</span>

            {% else %}
              <span class="badge rounded-pill"><small>Daily Challenge</small></span>
              <span>{{ challenge.date_created|timesince }}</span>
            {% endif %}
            </div>
              <div class="col">
                <p class="h4 text-center">{{ challenge.title }}</p>
                <h3 class="challenge-prompt text-center">{{ challenge.challenge_prompt }}</h3>
              </div>
            </div>
            
          </div>
        </div>

        <div class="footer-c challenge-btns d-flex justify-content-center">
          <a class="btn btn-lg btn-light" href="{% url 'post_list' challenge.challenge_prompt %}" role="button">Browse Artwork</a>
          <a class="btn btn-lg btn-light ms-4" href="{% url 'create_post' %}" role="button">Submit</a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

          {% endif %}
      </ul>
  </nav>
  {% endif %}
</div>

{%endblock%}