{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <h2 class="text-center">Past Challenges</h2>

<!--Daily Challenges-->
<div class="container-xl challenge-card">
    {% for challenge in challenge_list %}
    {% if not challenge.is_expired %}
      <div class="card challenge-card">
             
        <div class="challenge-img" style="background-image:url('{{ challenge.featured_image.url }}');">


          <div class="card-body bg-overlay d-flex flex-column">

            <div class="row">
              <div class="col-12">
                

             
                {% if today|date:"Y m d" == challenge.date_created|date:"Y m d" %}
                  <span class="badge rounded-pill"><small>Daily Challenge</small></span>
                  <span class="badge rounded-pill"><small>NEW! {{ today|date:"j/n" }}</small></span>
  
                {% else %}
                  <span class="badge rounded-pill"><small>Daily Challenge</small></span>
                  <span class="badge rounded-pill"><small>OVER!</small></span>
                {% endif %}
              </div>
              <div class="col">
                <p class="h4 text-center">{{ challenge.title }}</p>
                <h3 class="challenge-prompt text-center">{{ challenge.challenge_prompt }}</h3>
              </div>
            </div>
            
          </div>
        </div>

        <div class="footer-c challenge-btns d-flex justify-content-center">
          <a class="btn btn-lg btn-light" href="{% url 'post_list' challenge.challenge_prompt %}" role="button">Browse Artwork</a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

          {% endif %}
      </ul>
  </nav>
  {% endif %}
</div>

{%endblock%}