    <!--MODAL-->
<div class="modal fade" id="postDetailModal{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="popupLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg mt-0">
        <div class="modal-content">
            <div class="modal-header flex-row d-flex justify-content-between">
                <div class="card_avatar">
                    <img src="{{ request.user.profile.image.url }}" alt="">
                    <span>
                        <a href="{{ post.author.profile.get_absolute_url }}">Art by: {{ post.author }}</a>
                    </span>
                </div>
                <h5 class="modal-title text-center">{{ post.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row g-0">
                        <div class="col-lg-6 col-sm-12 user-art">
                            <img class="img-fluid" src="{{ post.image_post.url }}" alt="">
                        </div>
                        <div class="col-lg-6 col-sm-12 sidebar">
                            <div class="action">
                                <span>{{ post.challenge.challenge_prompt }}</span>
                                <hr>
                                <span>Likes: {{ post.likes.count }} <br> Posted: {{ post.date_posted }}</span>
                            </div>
                            <hr>
                            {% if user.is_authenticated %}
                            {% if post in faved %}
                                <div class="action">
                                    <a href="{% url 'add_favourite' post.pk %}" id="favBtn{{ post.id }}" type="button"
                                        class="btn btn-light"><i class="fa-solid fa-star fav"></i> Favorited</a>
                                </div>
                            {% else %}
                                <div class="action">
                                    <a href="{% url 'add_favourite' post.pk %}" id="favBtn{{ post.id }}" type="button"
                                        class="btn btn-light"><i class="fa-solid fa-star unfav"></i>Favorite</a>
                                </div>
                            {% endif %}
                            {% endif %}
                        </div>
                        <hr>
                        <div class="col text-center">{{ post.caption }}</div>
                    </div>
                </div>
            </div>


            <div id="form-modal-footer" class="modal-footer">
                <!--COMMENTS-->
                <div class="container">
                    <div class="row">
                        <h6 class="text-center">Comments:</h6>
                        <div class="col card mb-4 mt-3 cmt-container ">
                            <div class="card-body comment">
                                {% for comment in post.comments.all %}
                                    <div id='comment-box'>
                                        <h5 class="c-name">{{ comment.name }}:</h6>
                                        <p class="c-content">{{ comment.content }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% include 'comment.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
