{% extends "base.html" %}

{% block content %}
<div class=" py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for post in post_list %}
   <!--USER POSTS-->
   <div class="col">

    <div class="card shadow-sm">
      <a href="#postDetailModal{{post.pk}}" data-bs-toggle="modal" >
        <img src="{{ post.image_post.url }}" class="card-img-top post-detail" alt="">
      </a>

      <div class="card-body">
        <p class="card-text text-center">{{ post.title }}</p>
        <hr>
        <div class="d-flex align-items-center">
          <div class="card_avatar flex-grow-1">
            <a href="{{ post.author.profile.get_absolute_url }}">
              <img src="https://i.pravatar.cc/150?img=3" alt=""></a>
            <span>
              <strong>
                <a href="{{ post.author.profile.get_absolute_url }}">{{ post.author }}</a>
              </strong>
            </span>
          </div>
          <div class="like">
            <!--LIKE SECTION-->
          </div>
        </div>
      </div>
    </div>
  </div> 

{% block box %}
  {% include 'post_detail.html' %}
{% endblock %}

{% endfor %}

</div>
</div>

{% block js %}
<script>
  $(document).ready(function () {
  $(".comment_form").on("submit", function (e) {
     e.preventDefault();
     var pk = $(this).attr('value')
     console.log($(this).serialize());
     $.ajax({
         type: 'POST',
         url: $(this).attr('action'),
         headers: {'Accept': 'application/json',
                 'X-Requested-With': 'XMLHttpRequest', 
                 'X-CSRFToken': "{{ csrf_token }}",
                   },
         data: $(this).serialize(),
         success: function (response) {
             console.log('SUCCESS')
             $(".comment_form").trigger('reset');
    
  
             $('.comment').prepend(
              `<div id='comment-box'>
                <h5>${response["name"]}</h5> 
                <p>${response["content"]}</p>`)
         }
     });
 });
});
</script>
{% endblock js %}




{%endblock%}