{% extends "base.html" %}

{% block content %}
<div class=" py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for post in post_list %}
   <!--USER POSTS-->
   <div class="col">

    <div class="card shadow-sm">
      <a href="#postDetailModal{{post.pk}}" data-bs-toggle="modal" >
        <img src="{{ post.image_post.url }}" class="card-img-top post-detail" alt="">
      </a>

      <div class="card-body">
        <p class="card-text text-center">{{ post.title }}</p>
        <hr>
        <div class="d-flex align-items-center">
          <div class="card_avatar flex-grow-1">
            <a href="{{ post.author.profile.get_absolute_url }}">
              <img src="https://i.pravatar.cc/150?img=3" alt=""></a>
            <span>
              <strong>
                <a href="{{ post.author.profile.get_absolute_url }}">{{ post.author }}</a>
              </strong>
            </span>
          </div>
          <div class="like" id="{{ post.id }}">
            {% if post in liked_post %}
                <span class="like-btn" id="{{ post.pk }}">
                <a href="{% url 'post_like' %}" id="likeBtn{{ post.pk }}" class="liked"><i class="fas fa-heart list-like"></i></a>
                <span class="like-count{{ post.pk }}">{{ post.likes.count }}</span>
              </span> 
              {% else %}
              <span class="like-btn">
                <a href="{% url 'post_like' %}" id="likeBtn{{ post.id }}" class="unliked"><i class="fas fa-heart list-like"></i></a>
                <span class="like-count{{ post.id }}">{{ post.likes.count }}</span>
              </span>
          {% endif %}
         </div>

        </div>
      </div>
    </div>
  </div> 

{% block box %}
  {% include 'post_detail.html' %}
{% endblock %}

{% endfor %}

</div>
</div>

{% block js %}
<script>
  $(document).ready(function () {
  $(".comment_form").on("submit", function (e) {
     e.preventDefault();
     var pk = $(this).attr('value')
     console.log($(this).serialize());
     $.ajax({
         type: 'POST',
         url: $(this).attr('action'),
         headers: {'Accept': 'application/json',
                 'X-Requested-With': 'XMLHttpRequest', 
                 'X-CSRFToken': "{{ csrf_token }}",
                   },
         data: $(this).serialize(),
         success: function (response) {
             console.log('SUCCESS')
             $(".comment_form").trigger('reset');
    
  
             $('.comment').prepend(
              `<div id='comment-box'>
                <h5>${response["name"]}</h5> 
                <p>${response["content"]}</p>`)
         }
     });
 });
});

$(function() {
  $('.like').on("click", function(e) {
        var id = this.id;
        var href = $(".like").find("a").attr("href")
        console.log(href, id)
        const likes = $('.like-count' + id).text()
        const countLikes = parseInt(likes)
        e.preventDefault()
        $.ajax({
          url: href,
          data: {
            likeId: id,
          },
          success: function(response) {
            console.log(response.liked)
            if (response.liked == true) {
              $(".like").find("#likeBtn" + id).removeClass("unliked").addClass("liked")
  
              res = countLikes + 1
           

            }
            else if (response.liked == false) {
              $(".like").find("#likeBtn" + id).removeClass("liked").addClass("unliked")
              res = countLikes - 1
            }
            $('.like-count' + id).text(res)

          },
        

        });

    });
    });
</script>
{% endblock js %}




{%endblock%}