{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<!--CHALLENGE POST SUBMISSION FORM-->
<div class="container mt-5">
<h2 class="text-center mb-4">Challenge Participation</h2>
<form class="post-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ post_form | crispy }}


    <button class="btn btn-md post-btn" type="submit">Submit</button>
    <a class="btn btn-md post-btn" href="{% url 'home' %}" role="button">Back to challenges > </a>
</form>
</div>


{%endblock%}